In [13]:
import sqlite3

In [14]:
# Connect to the database
connection = sqlite3.connect('example.db') #Creates example.db if it doesn't exist
connection

In [15]:
cursor = connection.cursor()

In [16]:
#Create a table
cursor.execute('''
               CREATE TABLE IF NOT EXISTS Employees (
               id INTEGER PRIMARY KEY, 
               name TEXT NOT NULL, 
               age INTEGER,
               department TEXT
               )''')

connection.commit() #Save changes

In [17]:
cursor.execute('''
               Select * from employees
               ''')

### Create

In [18]:
#Insert data in sqlite table
cursor.execute('''
               INSERT INTO Employees (name, age, department) VALUES ("John", 25, "IT")
               ''')
cursor.execute('''
               INSERT INTO Employees (name, age, department) VALUES ("Jane", 30, "HR")
               ''')
cursor.execute('''
               INSERT INTO Employees (name, age, department) VALUES ("Bob", 35, "Finance")
               ''')

connection.commit()

### Read

In [19]:
#Querying data from sqlite3 table
cursor.execute('''
               SELECT * FROM Employees
               ''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 26, 'IT')
(3, 'Bob', 35, 'Finance')
(4, 'John', 26, 'IT')
(6, 'Bob', 35, 'Finance')
(7, 'John', 25, 'IT')
(8, 'Jane', 30, 'HR')
(9, 'Bob', 35, 'Finance')

### Update

In [20]:
cursor.execute('''
UPDATE Employees
SET age = 26
WHERE name = "John"
''')
connection.commit()

In [21]:
#Querying data from sqlite3 table
cursor.execute('''
               SELECT * FROM Employees
               ''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 26, 'IT')
(3, 'Bob', 35, 'Finance')
(4, 'John', 26, 'IT')
(6, 'Bob', 35, 'Finance')
(7, 'John', 26, 'IT')
(8, 'Jane', 30, 'HR')
(9, 'Bob', 35, 'Finance')

### Delete

In [22]:
cursor.execute('''
DELETE FROM Employees
WHERE name = "Jane"
''')
connection.commit()

In [23]:
#Querying data from sqlite3 table
cursor.execute('''
               SELECT * FROM Employees
               ''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 26, 'IT')
(3, 'Bob', 35, 'Finance')
(4, 'John', 26, 'IT')
(6, 'Bob', 35, 'Finance')
(7, 'John', 26, 'IT')
(9, 'Bob', 35, 'Finance')

### Bulk Insertion

In [31]:
data = [
    ('John', 25, 'IT'),
    ('Jane', 30, 'HR'),
    ('Bob', 35, 'Finance'),
    ('Charlie', 40, 'Marketing')
]

cursor.executemany('''
                   Insert into employees(name, age, department) values(?,?,?)
                   ''', data )

connection.commit()

In [32]:
#Close the connection
connection.close()